<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.masai.youtube">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/youtube_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:ignore="AllowBackup">
        <activity
            android:name=".home.SignedinUserAccount"
            android:exported="true" />
        <activity
            android:name=".home.UserAccount"
            android:exported="true" />
        <activity
            android:name=".home.VideoPlayActivity"
            android:exported="true" />
        <activity
            android:name=".shorts.ShortsActivity"
            android:exported="true" />
        <activity
            android:name=".home.Function"
            android:exported="true" />
        <activity
            android:name=".splashscreen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>